# Backend
DevArena/target/

# Frontend
devarena-client/node_modules/
devarena-client/dist/

# IDEs & OS
.vscode/
.idea/
.dist/
.history/
.DS_Store
Thumbs.db

.project
devarena-client/.early.coverage/v8/coverage-final.json

